@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

/* Navigation */

nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin: 0px 0px 32px;
  background: white;
  padding: 10px;
  z-index: 50;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.bar_icon {
  font-size: 32px;
}
/* hero section */
.logo_img{
  transition: 0.2s ease-in-out;
}
.logo_img:hover{
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.hero{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}
.hero_contant{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tag{
  background-color: #149f39;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  align-self: flex-start ;
}
h1{
  font-size: 72px;
  font-weight: 400;
  line-height: 1.2;
}
.explor_button
{
  background-color: #ffc066;
  font-size: 14px;
  padding: 10px 15px;
  align-self: self-start;
  font-weight: 400;
}
/* features section */
.features{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 100px 0px 50px;
}
.feature
{
  padding: 20px;
  display: flex;
  gap: 20px;
}
/* menu section */
 .diveder
 {
  margin: 20px 0px;
  border: 1px solid #ccc;
 }
 .manu{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-self: self-start;
  align-items: center;
 }
 .manu
 {
    .tag{
          align-self: center;
          padding: 5px 10px;
          font-size: 16px;
          font-weight: 500;
          border-radius: 3px;
        }
 }
 .grid-image{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
 }
 .grid-image:hover{
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
 }
 .gride
 {
  display: grid;
  gap: 8px;
  grid-template-areas: 
  "I1 I1 I2 I3"
  "I1 I1 I2 I7"
  "I4 I5 I6 I7";
 }
 .item1{
  grid-area: I1;
  border-radius: 10px;
 }
 .item2{
  grid-area: I2;
  border-radius: 10px;
 }
 .item3{
  grid-area: I3;
  border-radius: 10px;
 }
 .item4{
  grid-area: I4;
  border-radius: 10px;
 }
 .item5{
  grid-area: I5;
  border-radius: 10px;
 }
 .item6{
  grid-area: I6;
  border-radius: 10px;
 }
 .item7{
  grid-area: I7;
  border-radius: 10px;
 }

 /* footer section */
footer{
  background-color: #fff0db;
  margin-top: 50px;
}
 .footer_container{
  display: flex;
  padding: 30px;
  justify-content: space-between;
 }
 .footer_links h3{
  margin-bottom: 10px;
  color: gray;
 }
.footer_links ul{
  list-style: none;
}
.footer_links ul li{
  margin-bottom: 5px;
  font-size: 16px;
}
.footer_support{
  margin-bottom: 10px;
  color: gray;
}
.footer_support input{
  padding: 5px 60px;
  margin-bottom: 10px;
}
.icon_container{
  display: flex;
  gap: 15px;
  font-size: 32px;
}
